
<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3> Home</h3>
    <ol class="breadcrumb float-left f_s_14">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Table Title</h4>
          <h6 class="card-subtitle">Data Description will goes here</h6>
          <div class="dt-buttons">
            <a class="btn btn-info" tabindex="0" aria-controls="example23" href="#">
              <span>Add Button</span>
            </a>
          </div>
          <div class="table-responsive m_t_40">
            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Office</th>
                  <th>Age</th>
                  <th>Start date</th>
                  <th>Salary</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>Edinburgh</td>
                  <td>61</td>
                  <td>2011/04/25</td>
                  <td>$320,800</td>
                </tr>
                <tr>
                  <td>Garrett Winters</td>
                  <td>Accountant</td>
                  <td>Tokyo</td>
                  <td>63</td>
                  <td>2011/07/25</td>
                  <td>$170,750</td>
                </tr>
                <tr>
                  <td>Ashton Cox</td>
                  <td>Junior Technical Author</td>
                  <td>San Francisco</td>
                  <td>66</td>
                  <td>2009/01/12</td>
                  <td>$86,000</td>
                </tr>
                <tr>
                  <td>Cedric Kelly</td>
                  <td>Senior Javascript Developer</td>
                  <td>Edinburgh</td>
                  <td>22</td>
                  <td>2012/03/29</td>
                  <td>$433,060</td>
                </tr>
                <tr>
                  <td>Airi Satou</td>
                  <td>Accountant</td>
                  <td>Tokyo</td>
                  <td>33</td>
                  <td>2008/11/28</td>
                  <td>$162,700</td>
                </tr>
                <tr>
                  <td>Michael Silva</td>
                  <td>Marketing Designer</td>
                  <td>London</td>
                  <td>66</td>
                  <td>2012/11/27</td>
                  <td>$198,500</td>
                </tr>
                <tr>
                  <td>Paul Byrd</td>
                  <td>Chief Financial Officer (CFO)</td>
                  <td>New York</td>
                  <td>64</td>
                  <td>2010/06/09</td>
                  <td>$725,000</td>
                </tr>
                <tr>
                  <td>Gloria Little</td>
                  <td>Systems Administrator</td>
                  <td>New York</td>
                  <td>59</td>
                  <td>2009/04/10</td>
                  <td>$237,500</td>
                </tr>
                <tr>
                  <td>Bradley Greer</td>
                  <td>Software Engineer</td>
                  <td>London</td>
                  <td>41</td>
                  <td>2012/10/13</td>
                  <td>$132,000</td>
                </tr>
                <tr>
                  <td>Shad Decker</td>
                  <td>Regional Director</td>
                  <td>Edinburgh</td>
                  <td>51</td>
                  <td>2008/11/13</td>
                  <td>$183,000</td>
                </tr>
                <tr>
                  <td>Michael Bruce</td>
                  <td>Javascript Developer</td>
                  <td>Singapore</td>
                  <td>29</td>
                  <td>2011/06/27</td>
                  <td>$183,000</td>
                </tr>
                <tr>
                  <td>Donna Snider</td>
                  <td>Customer Support</td>
                  <td>New York</td>
                  <td>27</td>
                  <td>2011/01/25</td>
                  <td>$112,000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-title">
          <h4>Horizontal Form Elements</h4>

        </div>
        <div class="card-body">
          <div class="horizontal-form-elements">
            <form class="form-horizontal">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-sm-12 control-label">Text Input</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" value="Some text value...">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-sm-12 control-label">Email</label>
                    <div class="col-sm-12">
                      <input type="email" class="form-control" placeholder="Email">
                    </div>
                  </div>
                </div>
                <div class="clearfix">
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-sm-12 control-label">Readonly</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" value="Readonly value" readonly="">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-sm-12 control-label">input grp</label>
                    <div class="col-12">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="Username">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix">
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-sm-12 control-label">Static Control</label>
                    <div class="col-sm-12">
                      <p class="form-control-static">email@example.com</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-12 control-label">checkbox</label>
                    <div class="col-sm-12">
                      <p>
                        <input type="checkbox" /> check label
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-sm-12 control-label">Helping text</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" placeholder="Helping text">
                      <span class="help-block">
                        <small>A block of help text that breaks onto a new line and may extend.</small>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="clearfix">
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-sm-12 control-label">Input Select</label>
                    <div class="col-sm-12">
                      <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-sm-12 control-label">Multiple Select</label>
                    <div class="col-sm-12">
                      <select multiple class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="clearfix">
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-sm-12 control-label">Password</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="password" value="password">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-sm-12 control-label">Text Area</label>
                    <div class="col-sm-12">
                      <textarea class="form-control" rows="3" placeholder="Text input"></textarea>
                    </div>
                  </div>
                </div>
                <div class="clearfix">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /# card -->
    </div>
  </div>
  </div>
