
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-title p_b_25">
          LOG IN
        </span>
       
        <div class="wrap-input100">
          <input class="input100" type="text" name="email">
          <span class="focus-input100" data-placeholder="Email"></span>
        </div>

        <div class="wrap-input100">
          <span class="btn-show-pass">
            <i class="fa fa-eye"></i>
          </span>
          <input class="input100" type="password" name="pass">
          <span class="focus-input100" data-placeholder="Password"></span>
        </div>
        <button class="btn btn-block loginbtn">
          Login
        </button>
       

        <div class="text-center p_t_50">
          <span class="txt1">
            Don’t have an account?
          </span>

          <a class="txt2" href="#">
            Sign Up
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

